//- title - counter title
//- titleAttr - counter title classes
//- counter - {counter} Object

mixin counter(title, titleAttr, counter, titleSize)
	.counter-wrap
		if (counter.preffix !== null)
			div(class=titleSize)
				span.counter(class= titleAttr data-speed= counter.dataSpeed)= counter.dataTo
				span.counter-preffix(class= counter.preffixStyle)= counter.preffix

		else
			div(class=titleSize)
				span.counter(class= titleAttr data-step= counter.dataSpeed)= counter.dataTo
		if (title !== null)
			p(class= counter.attr)= title
